
body {
  margin: 0 !important;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container-fluid{
  padding-left: 0rem;
  padding-right: 0rem;
  overflow: hidden;
}

.arrow {
  transition: transform 1s;
}

.arrow-trans:hover .arrow {
  transform: rotate(450deg);
  }
 
.aboutHeader , .skillsHeader{
  display: flex;
  justify-content: center;
  margin-top: 0;
}

.profilePic {
  width: 300px;
  height: 300px;
  display: inline-block;
  border-radius: 50%;
}

.profilePadding {
  padding-top: 50px;
  padding-left: 400px;
}

.About {
  margin-bottom: 0px;
}

.aboutMe {
  padding-top: 60px;
  padding-left: 100px;
}

.aboutSection {
  padding-top: 100px;
}

.projectHeader {
  display: flex;
  justify-content: center;
  margin-top: 0%;
  margin-bottom: 180px;
}

.period {
  width: 100%;
  height: 70%;
  border-radius: 0.5rem;
}

.periodFlexText {
  
  width: 600px
}

.periodD {
  display: flex;
  justify-content: space-evenly;
}

.flash {
  width: 100%;
  height: 70%;
  border-radius: 0.5rem;
}

.flashcardApp {
  display: flex;
  justify-content: space-evenly;
}

.periodFlexText2 {
  width: 500px;
  margin-bottom: 0;
}

.movie {
  width: 100%;
  height: 70%;
  border-radius: 0.5rem;
}

.movies {
  display: flex;
  justify-content: space-evenly;
}
 
.workingPicture {
  width: 100%;
}

.skillsCol {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.firstRowFrontEnd, .firstRowBack , .nonFirstRow {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.i1 {
  margin-left: 10px;
}

.i2 {
  margin-left: 20px;
}

.frontRow , .backRow, .nonRow {
  width: 50%;
}